In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("house.csv")

In [3]:

df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
df.shape

(21613, 21)

In [5]:
x.shape

NameError: name 'x' is not defined

In [6]:
x=df.iloc[:,3:].values
y=df.iloc[:,3:4].values

In [7]:
x.shape

(21613, 18)

In [8]:
y.shape

(21613, 1)

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
regressor=LinearRegression()

In [13]:
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [14]:
y_pred=regressor.predict(x_test)

In [15]:
prediction=pd.DataFrame({'actual':list(y_test),'prediction':list(y_pred)})

In [16]:
prediction

     actual            prediction
0       [2]   [2.000000000000038]
1       [4]  [3.9999999999999636]
2       [2]  [1.9999999999999543]
3       [2]  [1.9999999999999711]
4       [4]  [3.9999999999999902]
5       [3]   [3.000000000000033]
6       [3]  [2.9999999999999436]
7       [3]  [3.0000000000000333]
8       [4]    [4.00000000000002]
9       [5]   [5.000000000000019]
10      [4]  [3.9999999999999813]
11      [3]   [3.000000000000039]
12      [2]   [2.000000000000054]
13      [3]  [2.9999999999999862]
14      [4]  [3.9999999999999813]
15      [2]  [1.9999999999999694]
16      [3]  [3.0000000000000346]
17      [4]   [3.999999999999946]
18      [2]  [1.9999999999999254]
19      [3]  [2.9999999999999587]
20      [3]   [3.000000000000015]
21      [4]   [4.000000000000021]
22      [4]  [3.9999999999999645]
23      [3]   [2.999999999999981]
24      [4]   [4.000000000000009]
25      [3]  [2.9999999999999942]
26      [4]   [3.999999999999983]
27      [4]  [3.9999999999999325]
28      [2]  [1.9999999999999951]
29      [3]  [2.9999999999999907]
...     ...                   ...
6454    [5]   [4.999999999999926]
6455    [4]   [4.000000000000009]
6456    [2]  [1.9999999999999778]
6457    [3]  [3.0000000000000013]
6458    [5]   [4.999999999999981]
6459    [3]  [3.0000000000000266]
6460    [3]   [2.999999999999989]
6461    [2]   [1.999999999999961]
6462    [3]    [3.00000000000003]
6463    [3]   [3.000000000000014]
6464    [3]  [3.0000000000000213]
6465    [2]   [2.000000000000027]
6466    [4]   [3.999999999999922]
6467    [3]  [3.0000000000000107]
6468    [3]  [2.9999999999999645]
6469    [3]  [3.0000000000000138]
6470    [4]    [4.00000000000002]
6471    [4]  [3.9999999999999547]
6472    [4]   [4.000000000000011]
6473    [3]  [3.0000000000000013]
6474    [2]   [1.999999999999972]
6475    [3]   [3.000000000000005]
6476    [4]  [4.0000000000000115]
6477    [3]   [2.999999999999998]
6478    [3]   [3.000000000000041]
6479    [3]  [3.0000000000000266]
6480    [4]  [4.0000000000000036]
6481    [3]  [2.9999999999999916]
6482    [3]   [3.000000000000026]
6483    [3]   [3.000000000000001]

[6484 rows x 2 columns]

In [17]:

from sklearn.metrics import accuracy_score

In [19]:
regressor.score(x_test,y_pred)

1.0